/*!
IPv6 Treemap Viz style sheet
*/

.container-fluid
{
	margin-top: 80px;
}

#chart_div
{
	width: 100%;
	height: 90vh;
}

#configuration_div
{
	width: 100%;
	height: 90vh;
}

.filter.country {
	height: 200px;
	overflow: scroll;
	margin: 20px 0;
}

#advanced-filter {
	text-align: center;
	margin: 20px 0;
}